body{
    text-align:center;
}

div{
    height:100px;
    width:100px;
    display:inline-block;
    border:2px solid black;
}

#container{
    width:800px;
    height:300px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    /* flex-wrap:wrap; */
    align-items:flex-start;

}
#box1{
    background-color:aqua;
    flex-grow:2;
}
#box2{
    background-color:pink;
    flex-grow:1;
}
#box3{
    background-color:darkkhaki;
}
#box4{
    background-color:indianred;
   
}
#box5{
    background-color:slateblue;
}