*{
    margin:0;
    font-family:arial;
    border:border-box;
}

.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;

}
.navlogo{
    height:50px;
    width:113px;
}
.logo{
    background-image:url(amz.png);
    height:50px;
    width:100%;
    background-size:cover;
}